.loader {
	width: 12px;
	aspect-ratio: 1;
	border-radius: 50%;
	animation: loader 1s infinite linear alternate;
}

@keyframes loader {
	0% {
		box-shadow: 24px 0 var(--color-accent-light), -24px 0 #a4a7ae;
		background: var(--color-accent-light);
	}
	33% {
		box-shadow: 24px 0 var(--color-accent-light), -24px 0 #a4a7ae;
		background: #a4a7ae;
	}
	66% {
		box-shadow: 24px 0 #a4a7ae, -24px 0 var(--color-accent-light);
		background: #a4a7ae;
	}
	100% {
		box-shadow: 24px 0 #a4a7ae, -24px 0 var(--color-accent-light);
		background: var(--color-accent-light);
	}
}
