.section {
	margin: var(--256px) 0 var(--256px) 0;
	background-color: red;
	background-color: var(--color-accent);
}

.box {
	position: relative;
	top: calc(-1 * var(--256px));
	background-color: var(--color-primary);
	box-shadow: var(--shadow-soft);

	.box__content {
		display: flex;
		flex-direction: column;
		gap: var(--24px);
		padding: var(--24px);
	}

	.box__header {
		h2 {
			font-size: 28px;
			font-weight: var(--font-weight-semibold);
		}
	}
}

.team {
	color: var(--color-primary);
	margin-top: calc(-1 * var(--192px));
	padding-bottom: var(--64px);

	h2 {
		font-size: 20px;
		font-weight: var(--font-weight-medium);
		padding-bottom: var(--12px);
	}

	div {
		display: flex;
		flex-direction: column;
		gap: var(--24px);
	}
}

@media (min-width: 768px) {
	.box {
		padding: var(--64px) var(--96px) var(--64px) var(--96px);
	}
	.team {
		padding-right: var(--96px);
		padding-left: var(--96px);
	}
}

.section:global(.desktop) {
	.box {
		display: flex;
		gap: var(--128px);
		align-items: center;
		justify-content: space-around;
		padding: var(--96px) var(--128px) var(--96px) var(--128px);

		.box__content {
			width: 60%;
		}

		img {
			width: 40%;
			height: var(--384px);
			object-fit: cover;
		}
	}

	.team {
		display: flex;
		gap: var(--128px);
		padding-top: var(--48px);
		padding-right: var(--128px);
		padding-bottom: var(--128px);
		padding-left: var(--128px);

		img {
			width: var(--384px);
			object-fit: contain;
		}
	}

	@media (min-width: 1400px) {
		.box {
			.box__content {
				width: 40%;
			}

			img {
				width: var(--512px);
			}
		}

		.team {
			gap: var(--192px);
		}
	}
}
