:root {
	/* Colors */

	--color-accent: #102a4c;
	--color-accent-light: #0a4481;

	--color-primary: #ffffff;
	--color-secondary: #030303;

	--color-disabled: #979797;

	--color-stroke: #c1c1c1;
	--color-input: #f5f5f5;
	--color-nav-separator: #f4f4f4;
	--color-heading-separator: rgba(151, 151, 151, 0.6);

	/* Shadows */

	--shadow-default: 0px 4px 8px 0px rgba(114, 114, 114, 0.25);
	--shadow-soft: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
	--shadow-elevated: 0px 4px 8px 4px rgba(192, 189, 189, 0.25);

	/* Sizing System Rems */

	--4px: 0.25rem;
	--8px: 0.5rem;
	--12px: 0.75rem;
	--16px: 1rem;
	--24px: 1.5rem;
	--32px: 2rem;
	--48px: 3rem;
	--64px: 4rem;
	--96px: 6rem;
	--128px: 8rem;
	--192px: 12rem;
	--256px: 16rem;
	--384px: 24rem;
	--512px: 32rem;
	--640px: 40rem;
	--768px: 48rem;

	/* Font Related Rems */
	--14px: 0.875rem;
	--20px: 1.25rem;
	--28px: 1.75rem;
	--36px: 2.25rem;

	/* Font Weights */
	--font-weight-bold: 700;
	--font-weight-semibold: 600;
	--font-weight-medium: 500;
	--font-weight-regular: 400;
}
