.textBlock {
	display: flex;
	flex-direction: column;
	gap: var(--24px);

	.textBlock__title {
		font-size: var(--20px);
		font-weight: var(--font-weight-medium);
	}

	p {
		white-space: pre-line;
	}

	strong {
		font-weight: var(--font-weight-medium);
	}
}
