.section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--24px);
	padding-top: var(--48px);
	padding-bottom: var(--96px);

	h2 {
		font-size: var(--20px);
		font-weight: var(--font-weight-medium);

		&::after {
			content: '';
			display: block;
			width: 40%;
			height: 2px;
			margin-top: var(--14px);
			background-color: var(--color-secondary);
		}
	}

	ul {
		list-style: none;
	}
}

:global(.loader) {
	margin-left: var(--24px);
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--48px);
	max-width: 100%;
	padding: 0;

}

@media (min-width: 464px) {
	.section {
		align-items: center;
	}

	:global(.loader) {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	.section {
		padding-top: var(--96px);
		gap: var(--64px);
	}
}

@media (min-width: 1400px) {
	.section {
		padding-top: var(--256px);
		padding-bottom: var(--256px);

		h2 {
			font-size: var(--28px);
			font-weight: 600;

			&::after {
				width: var(--48px);
			}
		}
	}
}
