#root {
	--root-pading: var(--32px);
	/* --root-max-width: 1540px; */
	--root-max-width: 96.25rem;
}

.wrapper {
	max-width: var(--root-max-width);
	padding: 0 var(--root-pading) 0 var(--root-pading);
	margin: 0 auto;
}

main {
	min-height: calc(100vh - 21.5rem - 4.5rem);
}

.page-loader {
	position: fixed;
	top: var(--192px);
	left: calc(50% - 24px);
	transform: translateX(-50%);
}
